@charset "utf-8";

body,
header,
h1,
h2,
h3,
ol,
ul,
li,
div,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin-bottom: 20px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #fff; */
    display: block;
}

.color-white {
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    font-family: 'DeviewKR', 'DeviewEB', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    cursor: none;
    /* transform: rotate(0.03deg); */
}

.container {
    width: 90%;
    margin: 0 auto;
}

.page1,
.page2 {
    height: 100vh;
    padding-left: 100px;
}

.page1 {
    max-width: 1920px;
    background-color: #4c37f5;
}

.header {
    height: 100px;
    width: 100%;
    line-height: 100px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    gap: 80px;
    justify-content: flex-start;
    padding-left: 72px;
    background: rgba(255, 255, 255, 0);
    /* transition:all 0.5s; */
}

.header.header_color_change {
    background: rgba(255, 255, 255, 1);
}

.header.header_color_change2 {
    background: rgba(0, 0, 0, 1);
}

.header.header_color_change a {
    color: #333;
}

.h1 {
    width: 300px;
    margin-right: 80px;
    letter-spacing: 0.05rem;
    font-size: 34px;
}

.nav {
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-size: 20px;
    font-weight: bold;
}

.page2 {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 160px;
    background-color: #fff;
}

.page2_p {
    font-size: 180px;
    font-weight: bold;
    letter-spacing: -16px;
}

.color_p {
    color: #5263e5;
}

.color_b {
    color: #000;
}

.page3 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #fff;
    padding-left: 160px;
    letter-spacing: -5px;
}

.page3 p:first-child {
    margin-bottom: 30px;
}

.page4,
.page5 {
    background: #000a23;
    height: 120vh;
}

.h2 {
    text-align: center;
    font-size: 80px;
    padding-bottom: 130px;
    padding-top: 100px;
}

.portfolio_wrap {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.portfolio_wrap a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.portfolio {
    width: 20vw;
    height: 330px;
    padding: 30px;
    border-radius: 5px;
}

.portfolio1 {
    background-color: #4e8cff;
}

.portfolio2 {
    background-color: #2d1da8;
}

.portfolio3 {
    background-color: #343cd8;
}

.portfolio4 {
    background-color: #1ce296;
}

.portfolio5 {
    background-color: #3cd8d4;
}

.portfolio6 {
    background-color: #2d6c73;
}

.portfolio7 {
    background-color: #697d8c;
}

.portfolio8 {
    background-color: #422b99;
}

.language {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.page6 {
    height: 100vh;
    background: #14145a;
}

.profile {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.profile_img,
.profile_text {
    flex: 1;
    width: 50%;
}

.profile_img {
    background: #fff;
    height: 50vh;
    color: #333;
}

.profile_text {
    text-align: left;
    font-size: 22px;
}

.name {
    font-size: 36px;
    margin-bottom: 60px;
}

.profile_text_div {
    display: flex;
    font-weight: bold;
}

.profile_text_p {
    margin-bottom: 20px;
}

.text_left {
    width: 100px;
}

.page7 {
    background: #0f1211;
}

.page7_h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 220px;
    padding-bottom: 200px;


}

.address {
    font-style: normal;
    font-size: 30px;
    margin-left: 50px;
}

.email {
    display: block;
}

.page7_address {
    padding-bottom: 30px;
}

.circle {
    width: 5em;
    height: 5em;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    mix-blend-mode: difference;
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
}

.page2 {
    /* transform-style: preserve-3d; */
    perspective: 1000px;
}

.letter,
.letter2,
.letter3,
.letter4 {
    /* transform: rotateX(-90deg);
    transition:all 0.25s; */
    transform: rotateX(45deg);
    transition: all 1s;
    /* transform-origin: top right; */
    opacity: 0;
    /* background: skyblue; */
}

.opc0 {
    opacity: 0;
}

.opc {
    opacity: 1;
    transform: rotateX(0deg);
}

.animation {
    animation-name: 글자올라오기;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes 글자올라오기 {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.page7_h3 span{
    display: inline-block;
    opacity: 0;
    min-width: 1.4vw;
    transform: translateY(70px);
    transition: all 0.3s ease-in-out;
}

.page7_h3 span.active{
    opacity: 1;
    transform: translateY(0px);
}